apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.config.name }}
  namespace: {{ .Release.Namespace }}
data:
  DB_NAME: {{ .Values.config.dbName | quote}}
  MONGO_URI: {{ .Values.config.mongoURI | quote }}
